*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-size-base: 1rem;
    --font-size-heading: clamp(4rem, 8vw + 1rem, 8rem);
    --font-size-paragraph: clamp(1.5rem, 4vw + 0.5rem, 2rem);

    --color-text-primary: #1f2937;
    --color-background: #ffffff;
    --color-link: #1f2937;
    --color-link-hover: #374151;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}
